:root{

  --blue: #1992D4;

  --white: #FFFFFF;

  --black: #121212;

  --Gray: #E2E8F0;

  --paragraph-color: #AEAEAE;

  --border-articles: #F0B429;

  --ff-primary: 'Roboto', sans-serif;

  --br: .5rem;

  --fs-100: .8125rem;

}