.container{
  display: grid;
  grid-template-columns: 17vw 29vw 40vw 14vw;
  grid-template-rows: repeat(4, 25vh);
  grid-template-rows: 20vh 27vh 27vh 26vh ;
  grid-template-areas: "left-aside header header header"
                       "left-aside main main aside"
                       "left-aside main main aside"
                       "left-aside main main trending";
}





