.header{
  background-color: var(--white);
  grid-column: header;
  padding-top: 1.5625rem;
  padding-left: 2.5rem;
}

.top-header-container{
  display: flex;
  gap: 6.25rem;
}

.header-top-right-side{
  display: flex;
  gap: 0.9375rem;
}

.header-top-left-side{
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.header-top-left-side span{
  color: #202020;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-top-right-side img, .header-top-left-side img{
  min-height: 3.125rem;
}

.header-top-right-side input{
  min-height: 3.125rem;
  min-width: 56.25rem;
  background-color: var(--Gray);
  border: none;
  border-radius: 3.125rem;
}

.toy-image{
  min-width: 3.125rem;
  min-height: 3.125rem;
  background-image: url(/design/Sherlock\ Toy\ Face\ NFT.jpg);
  background-size: cover;
  border-radius: 50%;
}

.second-toy-image{
  min-width: 4.6875rem;
  min-height: 4.6875rem;
  background-image: url(/design/Sherlock\ Toy\ Face\ NFT.jpg);
  background-size: cover;
  border-radius: 50%;
}

.bottom-header-container{
  display: flex;
  padding-top: 1.875rem;
  padding-left: 0.9375rem;
  justify-content: space-between;
}

.header-bottom-right-side{
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.regards{
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.regards div:nth-child(1){
  color: #202020;
  font-size: 1rem;
  font-weight: bold;
}

.regards div:nth-child(2){
  color: #202020;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-bottom-left-side{
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  padding-right: 11.875rem;
}

.header-bottom-left-side div{
  background-color: var(--blue);
  border: none;
  padding: 0.625rem 2.1875rem;
  border-radius: 1.5625rem;
  color: var(--white);
  display: flex;
  justify-content: center;
}